[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tox = "*"
kubectl-fluidos = {editable = true, path = "."}
kubernetes = "*"

[dev-packages]
kubectl-fluidos = {editable = true, path = "."}
pytest = "*"
autopep8 = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
